.countries {
  margin: 20px 40px;
}

.countries__heading {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;

  font-size: 36px;
  font-weight: 900;
  text-transform: uppercase;
}

.countries__info-wrap{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.countries__main-info{
  display: block;
  max-width: 500px;
  padding: 25px;
  align-content: left;
}

.countries__headers-value{
  width: 500;
  font-size: 24px;
}

.countries__item-heading {
  display: inline;
  
  font-weight: 900;
  font-size: 24px;
}

.countries__flag img {
  width: 100%;
}

.countries__info {
  display: block;
  text-align: left;
  width: 500px;
  padding-top: 200px;
  padding: 40px;
  font-size: 24px;
}

.countries__languages-list {
  display: block;
}

.country-languages-item {
  margin-left: 60px;
}


.countries-list:first-child:hover {
  background-color: aquamarine;
}

.countries__list-item{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 35px;

  list-style: disc;
}

p {
  margin-bottom: 25px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
