.countries__search{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 25px;
}

.countries__input-label {
  margin: 0px 20px;
  font-size: 48px;
  align-self: center;
  text-transform: uppercase;
}

.countries__input-field {
  padding: 2px;
  max-width: 500px;
  height: 40px;
  font-size: 36px;
  text-align: center;

  border-radius: 10px;
  border-top-color: cornflowerblue;
}

.countries-list__item-dropdown {
  font-size: 34px;
}

#countries-list:first-child:hover {
  background-color: seashell;
}
